.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  background: #1E1E1E;
  &__links {
    display: flex;
    h5 {
      font-family: Open Sans Bold;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 3px;
      font-weight: 600;
      color: #B2A389;
      padding-right: 20px;
    }
    i {
      color: #B2A389;
      font-size: 24px;
      &:hover {
        color: #fff;
      }
    }
    i.fa-facebook {
      padding-right: 20px;
    }
  }
}

@media (max-width: 320px) {
  .footer-container {
    padding: 0 30px;
    &__links {
      h5 {
        font-family: Open Sans Regular;
        font-size: 10px;
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: 100;
        padding-right: 10px;
      }
      i {
        font-size: 20px;
      }
      i.fa-facebook {
        padding-right: 10px;
      }
    }
    &__knob {
      svg {
        width: 60px;
        height: 30px;
      }
    }
  }
}