.recentArticles-container {
  background: #fff;
  margin-top: 370px;
  padding: 0 80px;
  &-related {
    font-family: Open Sans Regular;
    color: #1E1E1E;
    text-align: center;
    padding: 30px 0;
  }
  &__blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boxList {
    position: relative;
    width: 31%;
    max-width: 405px;
    height: 570px;
    background: #F2F1ED;
    text-align: center;
    margin-bottom: 30px;
    &:nth-child(3n+2) {
      margin: 0 30px;
    }
    &__blogOneImg {
      background: url("../img/images/www.knobcreek.com-1550031134660845.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogTwoImg {
      background: url("../img/images/www.knobcreek.com-1564585437648699.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogThirdImg {
      background: url("../img/images/www.knobcreek.com-1550246487292757.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogFourImg {
      background: url("../img/images/www.knobcreek.com-1550164189475220.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogFiveImg {
      background: url("../img/images/www.knobcreek.com-1550293000153014.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogSixImg {
      background: url("../img/images/www.knobcreek.com-1550664938574687.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogSevenImg {
      background: url("../img/images/www.knobcreek.com-1550653084056276.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogEightImg {
      background: url("../img/images/www.knobcreek.com-1550660375610157.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__blogNineImg {
      background: url("../img/images/www.knobcreek.com-1550319714280280.jpg") center no-repeat;
      width: 100%;
      height: 375px;
      background-size: cover;
    }
    &__circle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -56%);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #F2F1ED;
      text-align: center;
      line-height: 75px;
      .svg-icons {
        position: absolute;
        top: 35%;
        left: 25%;
      }
      .article {
        background: url("../img/icons/Article.svg") center no-repeat;
      }
      .video {
        background: url("../img/icons/Video.svg") center no-repeat;
        top: 15%;
        left: 20%;
      }
      .glass {
        background: url("../img/icons/Glass.svg") center no-repeat;
        top: 20%;
        left: 15%;
      }
      .gallery {
        background: url("../img/icons/Gallery.svg") center no-repeat;
        top: 18%;
        left: 15%;
      }
    }
    p:nth-child(3) {
      padding-top: 25px;
      font-family: Open Sans Regular;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 24px;
      font-family: Open Sans Light;
      line-height: 33px;
      padding: 0 55px;
    }
    p:nth-child(5) {
      padding-top: 20px;
      font-family: Open Sans Bold;
      color: #B94642;
      transition: .3s;
      &:hover {
        color: #B4A483;
        transition: .3s;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1670px) {
  .recentArticles-container {
    &__blog {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1200px) {
  .recentArticles-container {
    .boxList {
      margin-bottom: 25px;
      &:nth-child(3n+2) {
        margin: 0 25px;
      }
      h3 {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .recentArticles-container {
    margin-top: 270px;
    padding: 0 60px;
    .boxList {
      height: 420px;
      margin-bottom: 20px;
      &__blogOneImg {
        height: 260px;
      }
      &__blogTwoImg {
        height: 260px;
      }
      &__blogThirdImg {
        height: 260px;
      }
      &__blogFourImg {
        height: 260px;
      }
      &__blogFiveImg {
        height: 260px;
      }
      &__blogSixImg {
        height: 260px;
      }
      &__blogSevenImg {
        height: 260px;
      }
      &__blogEightImg {
        height: 260px;
      }
      &__blogNineImg {
        height: 260px;
      }
      &:nth-child(3n+2) {
        margin: 0 20px;
      }
      h3 {
        font-size: 20px;
        line-height: 28px;
        padding: 0 7px;
      }
      p:nth-child(5) {
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 750px) {
  .recentArticles-container {
    margin-top: 270px;
    padding: 0 15px;
    .boxList {
      height: 420px;
      margin-bottom: 15px;
      &__blogOneImg {
        height: 260px;
      }
      &__blogTwoImg {
        height: 260px;
      }
      &__blogThirdImg {
        height: 260px;
      }
      &:nth-child(3n+2) {
        margin: 0 15px;
      }
      p:nth-child(3) {
        font-size: 12px;
      }
      h3 {
        font-size: 18px;
        line-height: 25px;
        padding: 0 7px;
      }
      p:nth-child(5) {
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 600px) {
  .recentArticles-container {
    margin-top: 470px;
    padding: 0 20px;
    .boxList {
      width: 45%;
      height: 370px;
      &__blogOneImg {
        height: 230px;
      }
      &__blogTwoImg {
        height: 230px;
      }
      &__blogThirdImg {
        height: 230px;
      }
      &__blogFourImg {
        height: 230px;
      }
      &__blogFiveImg {
        height: 230px;
      }
      &__blogSixImg {
        height: 230px;
      }
      &:nth-last-child(-n+3) {
        display: none;
      }
      &:nth-child(3n+2) {
        margin: 0;
      }
      &:nth-child(odd) {
        margin-right: 15px;
      }
      p:nth-child(3) {
        font-size: 10px;
      }
      h3 {
        font-size: 18px;
        line-height: 25px;
        padding: 0 8px;
      }
      p:nth-child(5) {
        font-size: 14px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 550px) {
  .recentArticles-container {
    .boxList {
      p:nth-child(3) {
        font-size: 10px;
        padding-top: 20px;
      }
      h3 {
        font-size: 14px;
        line-height: 20px;
        padding: 0px;
      }
      p:nth-child(5) {
        font-size: 14px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 320px) {
  .recentArticles-container {
    margin-top: 575px;
    padding: 0 30px;
    background: #1E1E1E;
    &-related {
      color: #fff;
    }
    .boxList {
      width: 100%;
      height: 395px;
      margin-bottom: 20px !important;
      &__blogOneImg {
        height: 250px;
      }
      &__blogTwoImg {
        height: 250px;
      }
      &__blogThirdImg {
        height: 250px;
      }
      &:nth-child(odd) {
        margin-right: 0;
      }
      p:nth-child(3) {
        font-size: 10px;
        padding-top: 25px;
      }
      h3 {
        font-size: 16px;
        line-height: 25px;
        padding: 6px 8px;
      }
      p:nth-child(5) {
        font-size: 14px;
        padding-top: 5px;
      }
    }
  }
}