.banner__block {
  background: url("../img/images/www.knobcreek.com-1293609732325191.jpg") center no-repeat;
  position: relative;
  width: 100%;
  height: 800px;
  padding-left: 0;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    background: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -370px;
    background: #B4A483;
    width: 100%;
    height: 370px;
    background-size: cover;
  }
  &__one {
    display: flex;
    &-text {
      padding: 125px 0 0 185px;
      z-index: 5;
      h1 {
        font-family: "Open Sans Regular";
        font-size: 62px;
        font-weight: 100;
        line-height: 70px;
        color: #fff;
        letter-spacing: 3px;
        padding: 0 50px 10px 0;
      }
      p {
        color: #fff;
        letter-spacing: .5px;
        padding-right: 190px;
      }
    }
    &-imgKnob {
      margin: 50px -335px 0 0;
      z-index: 6;
      img {
        width: 900px;
      }
    }
  }
  &__two {
    display: flex;
    justify-content: center;
    position: relative;
    top: -35%;
    padding-left: 15px;
    &-img {
      position: relative;
      z-index: 6;
      img {
        width: 100%;
        height: 590px;
      }
    }
    &-novemberBlog {
      position: relative;
      z-index: 7;
      width: 640px;
      max-height: 590px;
      background: #fff;
      text-align: center;
    }
    &-novemberBlogText {
      transform: translate(0%, 55%);
    }
    &-article {
      fill: #B13733;
    }
    p:nth-child(2) {
      font-family: Open Sans  Bold;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 3px;
    }
    h3 {
      font-size: 28px;
      font-family: Open Sans Light;
      padding: 0 125px;
    }
    p:nth-child(4) {
      font-family: Open Sans Light;
      font-weight: 600;
      padding: 5px 100px 25px;
    }
    p:nth-child(5) {
      font-family: Open Sans Bold;
      color: #B94642;
      transition: .3s;
      &:hover {
        color: #B4A483;
        transition: .3s;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1300px) {
  .banner__block {
    &__one {
      &-text {
        padding: 140px 0 0 85px;
        h1 {
          padding: 0 0 10px 0;
        }
        p {
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .banner__block {
    &__one {
      &-text {
        p {
          padding-right: 155px;
        }
      }
      &-imgKnob {
        margin: 70px -470px 0 0;
      }
    }
  }
}

@media (max-width: 1100px) {
  .banner__block {
    &__one {
      &-text {
        p {
          padding-right: 30px;
        }
      }
    }
    &__two {
      &-novemberBlogText {
        transform: translate(0%, 45%);
      }
      h3 {
        padding: 0 50px;
      }
      p:nth-child(4) {
        padding: 5px 40px 25px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .banner__block {
    height: 705px;
    &:after {
      bottom: -270px;
      height: 270px;
    }
    &__one {
      &-text {
        padding: 135px 0 0 60px;
        h1 {
          padding: 0 0 10px 0;
          letter-spacing: 0px;
          word-spacing: -10px;
        }
        p {
          font-family: "Open Sans Light";
          font-size: 14px;
          padding-right: 60px;
        }
      }
      &-imgKnob {
        margin: 75px -300px 0 0;
        img {
          width: auto;
        }
      }
    }
    &__two {
      top: -21.5%;
      padding: 0 45px 0 60px;
      &-img {
        img {
          height: 400px;
        }
      }
      &-novemberBlog {
        max-height: 400px;
      }
      &-novemberBlogText {
        transform: translate(0%, 27%);
      }
      p:nth-child(2) {
        font-size: 12px;
      }
      h3 {
        font-size: 21px;
        padding: 0 70px;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 65px 25px;
      }
    }
  }
}

@media (max-width: 900px) {
  .banner__block {
    height: 705px;
    &:after {
      bottom: -270px;
      height: 270px;
    }
    &__one {
      &-text {
        padding: 70px 0 0 60px;
        h1 {
          font-size: 50px;
          line-height: 60px;
          word-spacing: -6px;
        }
        p {
          font-family: "Open Sans Light";
          font-size: 14px;
          padding-right: 0;
        }
      }
      &-imgKnob {
        margin: 75px -300px 0 0;
        img {
          width: auto;
        }
      }
    }
    &__two {
      top: -21.5%;
      padding: 0 45px 0 60px;
      &-img {
        img {
          height: 400px;
        }
      }
      &-novemberBlog {
        max-height: 400px;
      }
      &-novemberBlogText {
        transform: translate(0%, 27%);
      }
      p:nth-child(2) {
        font-size: 12px;
      }
      h3 {
        font-size: 21px;
        padding: 0 25px;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 5px 25px;
      }
    }
  }
}

@media (max-width: 750px) {
  .banner__block {
    &__one {
      &-text {
        padding: 70px 0 0 60px;
        h1 {
          font-size: 35px;
          line-height: 45px;
          word-spacing: 0px;
        }
        p {
          font-family: "Open Sans Light";
          font-size: 14px;
          padding-right: 0;
        }
      }
      &-imgKnob {
        margin: 75px -375px 0 0;
      }
    }
    &__two {
      top: -21.5%;
      padding: 0 0 0 15px;
      p:nth-child(2) {
        font-size: 12px;
      }
      h3 {
        font-size: 21px;
        padding: 0 25px;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 5px 25px;
      }
    }
  }
}

@media (max-width: 600px) {
  .banner__block {
    &:after {
      bottom: -470px;
      height: 470px;
    }
    &__one {
      display: block;
      text-align: center;
      position: relative;
      z-index: 3;
      &-text {
        padding: 50px 0 0;
        h1 {
          font-size: 35px;
          line-height: 45px;
          word-spacing: 0px;
          padding: 0 130px 10px;
        }
        p {
          font-family: "Open Sans Light";
          font-size: 14px;
          padding: 0 50px;
        }
      }
      &-imgKnob {
        margin: 20px -355px 0 0;
        img {
          width: 570px;
        }
      }
    }
    &__two {
      display: block;
      top: -30%;
      padding: 0 25px 0 40px;
      &-img {
        img {
          height: 305px;
        }
      }
      p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: 16px;
        padding: 0;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 62px 15px;
        line-height: 25px;
      }
      &-novemberBlog {
        width: 100%;
        height: 270px;
        margin-top: -6px;
      }
      &-novemberBlogText {
        transform: translate(0%, 17%);
      }
    }
  }
}

@media (max-width: 550px) {
  .banner__block {
    &:after {
      bottom: -470px;
      height: 470px;
    }
    &__one {
      display: block;
      text-align: center;
      position: relative;
      z-index: 3;
      &-text {
        padding: 50px 0 0;
        h1 {
          font-size: 35px;
          line-height: 45px;
          word-spacing: 0px;
          padding: 0 5px 10px;
        }
        p {
          font-family: "Open Sans Light";
          font-size: 14px;
          padding: 0 50px;
        }
      }
      &-imgKnob {
        margin: 20px -355px 0 0;
        img {
          width: 570px;
        }
      }
    }
    &__two {
      display: block;
      top: -30%;
      padding: 0 25px 0 40px;
      &-img {
        img {
          height: 305px;
        }
      }
      p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: 16px;
        padding: 0;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 5px 15px;
        line-height: 25px;
      }
      &-novemberBlog {
        width: 100%;
        height: 270px;
        margin-top: -6px;
      }
      &-novemberBlogText {
        transform: translate(0%, 17%);
      }
    }
  }
}

@media (max-width: 400px) {
  .banner__block {
    &__one {
      &-text {
        h1 {
          padding: 0 5px 10px;
        }
        p {
          padding: 0px 5px;
        }
      }
    }
    &__two {
      padding: 0;
      margin-right: -15px;
      p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: 16px;
        padding: 0;
      }
      p:nth-child(4) {
        font-size: 14px;
        padding: 5px 5px 15px;
        line-height: 25px;
      }
      &-novemberBlog {
        width: 100%;
        height: 270px;
        margin-top: -6px;
      }
      &-novemberBlogText {
        transform: translate(0%, 8%);
      }
    }
  }
}

@media (max-width: 320px) {
  .banner__block {
    height: 660px;
    &:after {
      bottom: -575px;
      height: 575px;
    }
    &__one {
      &-text {
        padding: 35px 0 0;
        h1 {
          padding: 0 5px 10px;
        }
        p {
          font-size: 13px;
          line-height: 22px;
          padding: 0px 0 0 15px;
        }
      }
      &-imgKnob {
        margin: 20px -300px 0 0;
        img {
          width: 480px;
        }
      }
    }
    &__two {
      top: -16%;
      padding: 0 30px;
      &-img {
        img {
          height: 245px;
        }
      }
      p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: 18px;
        padding: 0 35px;
      }
      p:nth-child(5) {
        font-size: 14px;
      }
      &-novemberBlog {
        height: 345px;
      }
      &-novemberBlogText {
        transform: translate(0%, 12%);
      }
    }
  }
}



