<div class="site-header">
    <div class="container">
        <div class="site-header__wrap">
            <div class="site-header__logo">
                <a href="#" class="site-header__logo__link">
                    {% include 'chunks/_logo.njk' %}
                </a>
                <div class="site-header__logo__text">
                    Frontend Department
                </div>
            </div>

            <nav class="site-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__list__item">
                        <a href="#" class="site-nav__list__item__link">
                            Style Guide
                        </a>
                    </li>
                    <li class="site-nav__list__item">
                        <a href="https://gitlab.otakoyi.com/front-end/frontend-starter-kit" class="site-nav__list__item__link">
                            Starter-Kit
                        </a>
                    </li>
                    <li class="site-nav__list__item">
                        <a href="https://gitlab.otakoyi.com/front-end" class="site-nav__list__item__link">
                            GitLab Group
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>