<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="-207 381.2 196.6 30.8" style="enable-background:new -207 381.2 196.6 30.8;" xml:space="preserve">
<style type="text/css">
    .new-logo0 {
        fill: #FFFFFF;
    }

    .new-logo1 {
        fill: #FFDD00;
    }
</style>
    <g>
        <g>
            <path class="new-logo0" d="M-127.2,396.6c0-4.5,3.6-8.2,8.5-8.2s8.4,3.7,8.4,8.2s-3.6,8.2-8.5,8.2C-123.6,404.8-127.2,401.2-127.2,396.6
            z M-113.9,396.6c0-2.7-2-5-4.8-5s-4.8,2.2-4.8,5c0,2.7,2,5,4.8,5S-113.9,399.4-113.9,396.6z"></path>
            <path class="new-logo0"
                  d="M-101.9,391.9h-4.8v-3.3h13.2v3.2h-4.8v12.7h-3.5L-101.9,391.9L-101.9,391.9z"></path>
            <path class="new-logo0" d="M-85.2,388.5h3.2l6.8,16h-3.7l-1.5-3.6H-87l-1.5,3.6H-92L-85.2,388.5z M-81.5,397.9l-2.1-5.2l-2.1,5.2H-81.5z
            "></path>
            <path class="new-logo0"
                  d="M-70.4,388.6h3.5v6.9l6.4-6.9h4.2l-6.5,6.7l6.8,9.2h-4.2l-4.9-6.8l-1.8,1.9v4.9h-3.5V388.6z"></path>
            <path class="new-logo0" d="M-53.5,396.6c0-4.5,3.6-8.2,8.5-8.2s8.4,3.7,8.4,8.2s-3.6,8.2-8.5,8.2S-53.5,401.2-53.5,396.6z M-40.3,396.6
            c0-2.7-2-5-4.8-5s-4.8,2.2-4.8,5c0,2.7,2,5,4.8,5C-42.2,401.6-40.3,399.4-40.3,396.6z"></path>
            <path class="new-logo0"
                  d="M-28.1,398.3l-6.1-9.6h4.1l3.8,6.4l3.9-6.4h4l-6.1,9.6v6.3H-28L-28.1,398.3L-28.1,398.3z"></path>
            <path class="new-logo0" d="M-13.9,388.6h3.5v15.9h-3.5V388.6z"></path>
        </g>
        <g>
            <g>
                <path class="new-logo1" d="M-160.6,381.2c-8.5,0-15.4,6.9-15.4,15.4s6.9,15.4,15.4,15.4s15.4-6.9,15.4-15.4
                C-145.1,388.1-152,381.2-160.6,381.2z M-160.6,404.2c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6
                C-152.9,400.8-156.3,404.2-160.6,404.2z M-197,386.6c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S-191.5,386.6-197,386.6z"></path>
            </g>
        </g>
    </g>
</svg>