/* Base styles
-------------------------------------------------------------------------------------*/
body, html{
  position: relative;
  font-family: "Open Sans";
  @include font(400, 16, 24);
  color: #24292e;
  background-color: #1E1E1E;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.no-scroll{
    overflow: hidden;
  }
}

html {
 overflow-x: hidden;
}

body{
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container{
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;
}
.container-fluid{
  width: 100%;
  padding: 0 15px;
  @include clearfix;
}

.main-wrapper{
  min-height: 100vh;
  overflow: hidden;
}

.wow{
  visibility: visible !important;
}