//@font-face{
//  font-family: "OpenSans";
//  src: url("../fonts/OpenSans/GothamProRegular.eot");
//  src: url("../fonts/OpenSans/GothamProRegular.woff") format("woff"),
//  url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: 400;
//}
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans BoldItalic'), local('OpenSans-BoldItalic'), url('../fonts/OpenSans/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans ExtraBoldItalic'), local('OpenSans-ExtraBoldItalic'), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans LightItalic'), local('OpenSans-LightItalic'), url('../fonts/OpenSans/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Open Sans SemiBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans SemiBoldItalic'), local('OpenSans-SemiBoldItalic'), url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans LightItalic'), local('OpenSans-LightItalic'), url('../fonts/OpenSans/OpenSans-LightItalic.ttf');
}