/* Variables
-------------------------------------------------------------------------------------*/
$gothamPro: 'Open Sans', sans-serif;

$outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$text: #000000;