{% extends 'layouts/_layout.njk' %}
{% block title %}Main page{% endblock %}
{% block bodyClass %}home-page{% endblock %}

{% block main %}

    <div class="page-title">
        <div class="container">
            <h1 class="page-title__text">
                Style Guide
            </h1>
        </div>
    </div>

    <div class="styleguide">

        <div class="styleguide__tabs">
            <div class="container">
                <div class="styleguide__tabs__item active" data-tab-name="html">
                    Html
                </div>
                <div class="styleguide__tabs__item" data-tab-name="css">
                    Css
                </div>
                <div class="styleguide__tabs__item" data-tab-name="js">
                    Java Script
                </div>
            </div>
        </div>
        <div class="container">
            <div class="styleguide__tabs__wrap">
                <div class="styleguide__tabs__wrap__item active" data-tab-name="html">
                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Семантична розмітка
                            </div>
                            <div class="styleguide__item__text">
                                Використовувати семантичні теги <b>section</b>, <b>header</b>, <b>footer</b>, <b>nav</b>,
                                <b>article</b>, <b>aside</b> і т.д.
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/xaufscgr/1/embed/html/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/36hoa4tc/1/embed/html/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Використання #id
                            </div>
                            <div class="styleguide__item__text">
                                <b>#id</b> використовується тільки для роботи з JavaScript і для потреб CMS
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/72896e5b/1/embed/html/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/eamwgntz/1/embed/html/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Класи для JavaScript
                            </div>
                            <div class="styleguide__item__text">
                                Добавляти префікс <b>js-</b> для класів, які привязані до javascript. Ці класи в Css не
                                використовувати
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/68x1b9vt/7/embed/js,html,css/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/420an5Lc/2/embed/js,html,css/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Назви класів
                            </div>
                            <div class="styleguide__item__text">
                                <ol>
                                    <li>
                                        В назві класу використовувати тільки англійські слова
                                    </li>
                                    <li>
                                        Не використовувати скорочення до 1-2 букв
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/dvLq08u5/1/embed/html/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/eps80gkj/2/embed/html/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                BEM-орієнтоване іменування класів
                            </div>
                            <div class="styleguide__item__text">
                                <ol>
                                    <li>
                                        Блоки і елементи розділяються двома нижніми підчеркуваннями
                                    </li>
                                    <li>
                                        Назва блока чи елемента, яка складається з двох чи більше слів пишеться через
                                        тире
                                    </li>
                                    <li>
                                        Максимальна довжина селектора 3 елемента
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/2z7qmg3o/embed/html/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/u8ygp0sf/embed/html/"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styleguide__tabs__wrap__item" data-tab-name="css">
                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Вкладеність селекторів
                            </div>
                            <div class="styleguide__item__text">
                                Максимальна вкладеність селектора 3 класи.
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/u8ygp0sf/4/embed/html,css/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/b9ma7de6/embed/html,css/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Стилізація тегів
                            </div>
                            <div class="styleguide__item__text">
                                <p>
                                    Тегам стилі не задавати, окрім тегів типографіки в cms-content
                                </p>
                                <p>
                                    Тегам типографіки глобальні стилі не задавати
                                </p>
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/ub4w815z/2/embed/html,css/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/dm1tcboL/2/embed/html,css/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Порядок Css властивостей
                            </div>
                            <div class="styleguide__item__text">
                                <ol>
                                    <li>Властивості позиціонування</li>
                                    <li>Властивості бокс-моделі</li>
                                    <li>Властивості типографіки</li>
                                    <li>Властивості візуалізації</li>
                                    <li>Інше</li>
                                </ol>
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/5rjd40hc/1/embed/css/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/0xdmhLu6/embed/css/"></script>
                            </div>
                        </div>
                    </div>

                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Скорочений запис властивостей
                            </div>
                            <div class="styleguide__item__text">
                                <p>Використовувати скорочений запис таких властивостей як <b>font, border, background,
                                        transition, flex і т.д.</b></p>
                            </div>
                        </div>
                        <div class="styleguide__item__right">
                            <div class="code-example">
                                <div class="code-example__title red">
                                    Bad example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/3eLk67s9/embed/css/"></script>
                            </div>

                            <div class="code-example">
                                <div class="code-example__title green">
                                    Good example
                                </div>
                                <script async src="//jsfiddle.net/yarmol1k/gajzsqcy/embed/css/"></script>
                            </div>
                        </div>
                    </div>
                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Вендорні префікси
                            </div>
                            <div class="styleguide__item__text">
                                <p>Не використовувати вендорні префікси в <b>scss</b>. Для цього є <b>gulp</b></p>
                            </div>
                        </div>
                        <div class="styleguide__item__right">

                        </div>
                    </div>
                    <div class="styleguide__item">
                        <div class="styleguide__item__left">
                            <div class="styleguide__item__title">
                                Запис кольорів
                            </div>
                            <div class="styleguide__item__text">
                                <p>Властивості кольору записувати в форматі <b>hex, rgb, rgba</b></p>
                            </div>
                        </div>
                        <div class="styleguide__item__right">

                        </div>
                    </div>
                </div>
                <div class="styleguide__tabs__wrap__item" data-tab-name="js"></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block modals %}



{% endblock %}